# Izveštaj o testiranju (Black-box testing)
### 1.Testiranje osnovnih operacija
 -Ulaz(Input):`4+5`
 -Očekivani rezultat:`9`
 -Dobijen rezultat `9.0`
 -Status:Uspešno (Pass)
### 2. Testiranje prioriteta operatora
-Ulaz(Input): `10+5*4+3`
-Očekivani rezultat: `33`
-Dobijen rezultat: `33.0`
-Status: Uspešno (Pass)

### 3. Testiranje deljenja sa nulom
-Ulaz(Input): `8/0`
-Očekivani rezultat: Specijalna vrednost
-Dobijen rezultat: `Infinity`
-Status: Uspešno (Pass)

### 4. Testiranje neispravnog unosa
-Ulaz(Input): `5++2`
-Očekivani rezultat: Prijavljivanje greške
-Dobijen rezultat:`ERROR`
-Status: Uspešno (Pass)

